.book {
  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: -64px;
    right: 0;
    z-index: 1000;
  }
  &__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    // padding-top: 16px;
  }
  &__soundtrack {
    position: absolute;
    right: 0;
    cursor: pointer;

    &-btn {
      &.muted {
        & svg path {
          &:nth-child(1) {
            stroke: red;
          }
          &:not(:first-child) {
            fill: red;
          }
        }
      }
    }
  }
}
