@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';

body {
  position: relative;
  font-family: 'Mariupol', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  color: #070703;
  background: linear-gradient(180deg, #1a1305 0%, #100c03 100%);

  &::before {
    content: '';
    width: 360px;
    height: 360px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #d89b00 0%,
      rgba(204, 147, 0, 0) 100%
    );
    border-radius: 50%;
    filter: blur(12px);
    opacity: 0.4;

    position: absolute;
    top: 100px;
    left: -200px;
    z-index: -1;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 16px;
}
.wrapper {
  position: relative;
  width: 100%;
}

@media (min-width: 640px) {
  body {
    &::after {
      content: '';
      width: 360px;
      height: 360px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #d89b00 0%,
        rgba(204, 147, 0, 0) 100%
      );
      border-radius: 50%;
      filter: blur(12px);
      opacity: 0.4;

      position: absolute;
      bottom: -160px;
      right: -160px;
      z-index: -1;
    }
  }
}
@media (min-width: 1024px) {
  body {
    &::before,
    &::after {
      animation: rotation 2s linear infinite alternate;
    }
  }
}

@keyframes rotation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-15px, -15px, 0);
  }
}
