.content {
  width: 600px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -65px;
  margin: auto;
  transform: translateY(-50px);

  &:not(.show) {
    display: none;
  }
}

.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-bottom: 2px dashed #e6dcc8;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -5;
}

.equalizer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start__endpoint {
  position: absolute;
  //   top: 0;
  //   left: 0;
  background: #171207;
  z-index: -1;

  &:first-child {
    top: 0;
    left: 0;
  }
  &:last-child {
    top: 0;
    right: 0;
  }
}

/* Range Styles */

input[type='range'] {
  width: 100%;
  height: calc(1vmin * 3);
  position: absolute;
  background: transparent;
}

/*** Range Thumb***/

input[type='range']::-webkit-slider-thumb {
  width: 48px;
  height: 48px;
  background: url('../../assets/img/arrow.svg') no-repeat center;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 48px;
  height: 48px;
  background: url('../../assets/img/arrow.svg') no-repeat center;
  cursor: pointer;
}

/*** Range Track ***/

input[type='range']::-webkit-slider-runnable-track {
  //   background: #fff;
  background: transparent;
  //   height: 20px;
}

input[type='range']::-moz-range-track {
  background: transparent;
  //   height: 20px;
}
